body {
  --background-color: hsl(0, 0%, 92%);
  --text-color: black;
  --elements-color: white;
  --shadowColor: #dfdede;
  --bgColor:white;
  --back-btn: rgba(0,0,0,0.2);
  margin: 0;
  font-family:"Nunito Sans";
  background-color: var(--background-color);
  color: var(--text-color);
  
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 92%);
  --elements-color: hsl(209, 23%, 22%);
  --shadowColor: #0e0e0e;
  --back-btn: rgba(0,0,0,0.4);
  --bgColor: hsl(209, 23%, 22%)
  transition: 0.2s;
}


.Header {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  background-color: var(--elements-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  padding:0 2rem;
}

.theme-changer {
  cursor: pointer;
  font-weight: bold;
}

.country-details-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 32px;
}

.goto-button{
  margin: 30px 0px 0px 30px;
}

.back-button {
  padding: 6px 24px;
  background-color: var(--elements-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--back-btn);
}

.country-details {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-top: 64px;
}

.country-details img {
  width: 400px;
  height:270px
}

.details-text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  column-gap: 64px;
  max-height: 180px;
  flex-wrap: wrap;
}
.title {
  font-weight: 700;
  font-size: 27px;
 
}

.details-text p {
  margin: 0;
  
}
.details-text span {
  color:var(--text-color);
  font-weight: lighter;
}

.border-countries {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
 
}

.border-countries a {
  padding: 4px 16px;
  background-color: var(--elements-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  font-size: 14px;
  color:var(--text-color);
}
.part-1{
  margin-top:5px;
  margin:0;

}
.part-2{
  margin:0;
  
}
@media(max-width: 940px) {
  .country-details {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 32px;
      gap: 16px;
      
  }

  .details-text {
      max-height: unset;
  }

  .country-details img {
      width: 100%;
      max-width: 400px;
  }
  .part-1{
      margin-bottom:2rem;
  }
  .part-2{
      margin-bottom: 1rem;
  }
  .part-1 >p{
      margin-bottom: 2px;
  }

}
