body {
  --text-color: black;
  --elements-color: white;
  --shadowColor: #dfdede;
  --bgColor:white;
  --back-btn: rgba(0,0,0,0.2);
  margin: 0;
  font-family:"Nunito Sans";
  background-color: var(--background-color);
  color: var(--text-color);
  
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 92%);
  --elements-color: hsl(209, 23%, 22%);
  --shadowColor: #0e0e0e;
  --back-btn: rgba(0,0,0,0.4);
  --bgColor: hsl(209, 23%, 22%);
    transition: 0.2s;
}


.Header {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  background-color: var(--elements-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  margin-left: 40px;
  margin-right: 40px;
}

.theme-changer {
  cursor: pointer;
  font-weight: bold;
}

.country-details-container {
  margin-inline: auto;
  margin-top: 32px;
}

.goto-button{
  margin: 80px 0px 0px 70px;
}

.back-button {
  padding: 6px 24px;
  background-color: var(--elements-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--back-btn);
}

.country-details {
  display: flex;
  align-items: center;
  gap: 130px;
  margin-top: 80px;
  margin-left: 64px;

}

.country-details img {
  width: 450px;
  height:330px
}

.details-text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  column-gap: 64px;
  max-height: 180px;
  flex-wrap: wrap;
}

.details-text p {
  margin: 0;
  
}
.details-text span {
  color:var(--text-color);
  font-weight: lighter;
}

.border-countries {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
 
}

.border-countries a {
  padding: 4px 16px;
  background-color: var(--elements-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  font-size: 14px;
  text-decoration: none;
  color:var(--text-color);
}
.left-side p{
  margin-top:10px;
  

}
.right-side p{
  margin-top:10px;
  
}
@media(max-width: 940px) {

  .title {
    font-size: 12px;
  }
.header-content{
  padding-right: 0;
  padding-left: 0;
 
}

  .header-content p {
    font-size: 12px;
  }
  
  .header-content h2 {
    font-size: 16px;

  }
  .country-details {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 32px;
      margin-left: 25px;
      gap: 16px;
      
  }
  .goto-button{
    margin: 30px 0px 0px 25px;
  }

  .details-text {
      max-height: unset;
  }

  .country-details img {
     width: 250px;
     height: 150px;
  }
  .left-side{
      margin-bottom:2rem;
  }
  .right-side{
      margin-bottom: 1rem;
  }
  .left-side >p{
      margin-bottom: 2px;
  }

}
