.Header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

span{
    margin-top: 1rem;
}

.Search{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: #f8f9fa;
}

  #card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    background-color: #f8f9fa;
  }
  
  .card {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }